.head {
  background-color: black;
  height: 600px;
  width: 100%;
}

.name {
  margin: 0;
  color: whitesmoke;
  font-family: Ysabeau;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.dob {
  margin: 0;
  color: whitesmoke;
  font-family: Ysabeau;
  font-size: 20px;
  text-align: center;
}
